section.section-devices{
  margin-top: 80px;
  margin-bottom: 110px;
  overflow: hidden;

  @media (max-width: 767px) {
    margin-top: 40px;
    margin-bottom: 0;
  }
  
  @media (max-width: 414px) {
    display: none;
  }
  
  div{
    position: relative;
    height: 525px;

    @media (max-width: 575px) {
      height: 300px;
    }

    .image {
      position: absolute;
      top: 0;
      width: 58%;
    }
    
    .laptop{
      left: 0;
    }
    
    .iphone{
      right: 0;
    }
  }
}