footer{
  margin: 27px 0;

  @media (max-width: 414px) {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .logo{
    display: inline-flex;
    position: relative;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #8B8E91;

    @media (max-width: 414px) {
      font-size: 26px;
    }
    
    span {
      padding-left: 10px;
    }
  
    &:before{
      content: "";
      background: url('./images/logo-gray.svg');
      position: relative;
      display: inline-block;
      top: -11px;
      height: 52px;
      width: 52px;
    }
  }

  .facebookFree{
    img{
      height: 71px;
      width: 71px;
      float: right;
    }
  }
}